.App {
  text-align: center;
}

.grid {
  position: relative;
  margin: 0 auto;
  background-color: #8fc1e3;
  background-image: linear-gradient(#fff 1px, transparent 1px),
    linear-gradient(90deg, #fff 1px, transparent 1px);
}

.cell {
  background: #31708e;
  position: absolute;
}
