@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:wght@400;600&display=swap");

.App {
  text-align: center;
  padding: 2% 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: #687864;
}

h1,
h2,
h3 {
  font-family: "Courgette", cursive;
}

h1 {
  margin-bottom: 5%;
  font-size: 4.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  line-height: 1.4;
  text-align: justify;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.about,
.rules {
  width: 40%;
  margin: 0 auto 3%;
  font-size: 1.6rem;
}

.rules h2 {
  text-align: left;
}
.about h2 {
  text-align: left;
}
.rules {
  padding: 0;
}

.rules ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin-left: -20px;
}

.rules li {
  margin-bottom: 15px;
}

.grid {
  position: relative;
  margin: 0 auto;
  background-color: #8fc1e3;
  background-image: linear-gradient(#fff 1px, transparent 1px),
    linear-gradient(90deg, #fff 1px, transparent 1px);
}

.cell {
  background: #31708e;
  position: absolute;
}

.generation {
  margin: 20px auto;
  font-weight: 600;
}

.controls-speed {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  font-size: 1.4rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 70px;
}

footer img {
  width: 25px;
  height: auto;
}
